@media (max-width: 1080px) {
  .nav-item-content {
    flex-flow: column;
  }
   .nav-item-list {
    width: 100%;
  }
  .nav-item-title {
    font-size: 30px;
  }
  .nav-item-span {
    font-size: 20px;
    line-height: 40px;
  }
  .nav-item-img{
    width: 240px;
  }
}



@media (max-width: 576px) {
 
 .card-title-latest {
    font-size: 14px;
  }
  .card-span-latest {
    font-size: 16px;
  }
  .nav-item-img{
    width: 240px;
  }
}

