@media (max-width: 1080px) {
  .nav-item-hide {
    display: none;
  }
  .list-item-font {
    font-size: 12px;
  }
}


@media (max-width: 768px) {
   .card-title-banner{
    font-size: 14px;
    text-align: justify;
   }
   .smalldevicewidth{
    width: 100%;
   }
}
